extends shared/_master

block body
    // Page Content
    .container
        if post.img
            img.img-fluid.rounded.mb-3.mb-md-0(src=`/static/images/profile/${post.img}`, alt='', height="200" width="200")
        else
            img.img-fluid.rounded.mb-3.mb-md-0(src=`/static/images/profile/default.jpg`, alt='', height="200" width="200")
        // Page Heading
        h1.my-4=post.title
            //small Secondary Text
        p=post.post
        p='Author: '+post.author
        if user
            .row
                .col-md-5
                    form.form-horizontal(action='', method='POST')
                        .control-group
                            // Title
                            label.control-label(for='text') Comment
                            .controls
                                input#title.input-xlarge(type='text', name='text', placeholder='', value=text)
                        .control-group
                            // Button
                            .controls
                                button.btn.btn-success(type='submit', value='submit') Add Comment
                br
            // /.row
            hr
        
        each comment in post.comments
            // Project One
            .row
                .col-md-5
                    if comment.img
                        img.img-fluid.rounded.mb-3.mb-md-0(src=`/static/images/profile/${comment.img}`, alt='', height="50" width="50")
                    else
                        img.img-fluid.rounded.mb-3.mb-md-0(src=`/static/images/profile/default.jpg`, alt='', height="50" width="50")
                    a(href="/users/"+comment.author)
                        h3=comment.author
                    h4.comment-text=comment.text
                    p=comment.date
            // /.row
            hr