extends shared/_master

block body
    .container
        .popup
        if message
            h1.error-message=message
        form.form-horizontal(action='', method='POST')
            fieldset
                #legend
                    legend Register
                .control-group
                    // Username
                    label.control-label(for='username') Username
                    .controls
                        input#username.input-xlarge(required, type='text', name='username', placeholder='', value=username, minlength='3', maxlength='25',pattern='^[0-9A-Za-z\s\-]+$')
                        p.help-block Username can contain any letters or numbers, without spaces, between 3 and 25 characters.
                .control-group
                    // E-mail
                    label.control-label(for='email') E-mail
                    .controls
                        input#email.input-xlarge(required, type='email', name='email', placeholder='', value=email, pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$')
                        p.help-block Please provide your E-mail
                .control-group
                    // Password
                    label.control-label(for='password') Password
                    .controls
                        input#password.input-xlarge(required, type='password', name='password', placeholder='', value=password)
                        p.help-block Password should be at least 4 characters
                .control-group
                    // Password
                    label.control-label(for='password_confirm') Password (Confirm)
                    .controls
                        input#password_confirm.input-xlarge(required, type='password', name='password_confirm', placeholder='', value=password)
                        p.help-block Please confirm password
                .control-group
                    // Button
                    .controls
                        button.btn.btn-primary(type='submit', value='submit') Register
                br
