extends shared/_master

block body
    // Page Content
    .container
        // Page Heading
        h1.my-4=category+' posts'
        if user
            .row
                .col-md-5
                    form.form-horizontal(action='', method='POST')
                        .control-group
                            // Title
                            label.control-label(for='title') Title
                            .controls
                                input#title.input-xlarge(type='text', name='title', placeholder='', value=title)
                        .control-group
                            // Post
                            label.control-label(for='post') Post
                            .controls
                                textarea.form-control(name='post', rows='5', id='comment', value=post, placeholder='Put your toughts here..')
                                //- input#post.input-xlarge(type='text', name='post', placeholder='', value=post)
                        .control-group
                            // Button
                            .controls
                                button#post-button.btn.btn-success(type='submit', value='submit') Add Post
                br
            // /.row
            hr

        each post in showposts
            // Project One
            .row
                .col-md-3
                    a(href='/users/'+post.author)
                        h5=post.author    
                        if post.img
                            img.img-fluid.rounded.mb-3.mb-md-0(src=`/static/images/profile/${post.img}`, alt='', height="150" width="150")
                        else
                            img.img-fluid.rounded.mb-3.mb-md-0(src=`/static/images/profile/default.jpg`, alt='', height="150" width="150")
                a.col-md-8.post-item(href='/posts/'+category+'/'+post._id)
                    h3.post-title=post.title
                    //- a.btn.btn-primary(href='/posts/'+category+'/'+post._id) View Post
            // /.row
            hr
        
        
        // Pagination
        ul.pagination.justify-content-center
            li.page-item
                a.page-link(href='?page=1', aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous
            each pageN in showPages
                li.page-item
                    a.page-link(href='?page='+(pageN))=pageN
            li.page-item
                a.page-link(href='?page='+(pagesNum), aria-label='Next')
                    span(aria-hidden='true') »
                    span.sr-only Next
    // /.container
